.dp {
    background:#272727;
    color:#DDDDDD;
    font-size: 13px;
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    width:200px;
}
.tn {
    align-items:center;
    background:#222;
    display:flex;
    flex-direction:row;
    font-weight:bold;
    justify-content:space-between;
    margin:2px;
    width:auto;
}
.mn{
    align-items:center;
    cursor:pointer;
    display:flex;
    flex:0 15px;
    font-weight:bold;
    height:15px;
    justify-content:center;
    margin:1px;
    padding:2px;
    text-align: center;
}
.mn:first-child{
    align-self:flex-start;
}
.mn:hover{
    border:solid 1px #979797;
}
.wh {
    font-weight: bold;
}
.wh, .w {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.wh > div {
    align-items:flex-start;
    display:flex;
    flex:1;
    justify-content:center;
}
.w > div {
    align-items:flex-end;
    cursor:pointer;
    display:flex;
    flex:1;
    justify-content:center;
    margin:1px;
    padding:2px;
}

.w > div.selected {
    background-color:#415E82;
    font-weight:bold;
}
.w > div:hover {
    background:#555;
}

div:not([class]):hover {
    background:none;
    cursor: auto;
}